<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>tempfile.dir</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>assignment.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>assignment.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadUserFiles</servlet-name>
        <servlet-class>assignment.LoadUserFiles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadUserFiles</servlet-name>
        <url-pattern>/LoadUserFiles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadSub</servlet-name>
        <servlet-class>assignment.LoadSub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadSub</servlet-name>
        <url-pattern>/LoadSub</url-pattern>
    </servlet-mapping>
</web-app>